@model IEnumerable<FinalExam.Models.Bid>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Buyer.BuyersName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item.itemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timeStamps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prices)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Buyer.BuyersName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item.itemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timeStamps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prices)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.itemBidID }) |
            @Html.ActionLink("Details", "Details", new { id=item.itemBidID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.itemBidID })
        </td>
    </tr>
}

</table>
